.foto{
    border-radius: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: dotted;

}
.idola{
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.gif{
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.gambar{
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    text-align: center;
    font-size: 40px;
    font-family: Courier;
    color : #404040;
    border-left: 6px solid #404040;
  background-color: lightgrey;
}
h3 {
    font-size: 40px;
    text-align: center;
    font-style: italic;
    font-family: Courier New;

}
.dua {
    line-height: 1cm;
    font-size: 25px;
    text-align: center;
    font-family: courier;
}
.tiga {
    line-height: 1cm;
    font-size: 40px;
    color: #404040;
    text-align: center;
    font-family: Courier;
    border-bottom: 6px solid #404040;
    background-color: #FFECF5

}
.empat {
     text-align: center;
     font-size: 20px;
     font-family: courier;
}
body {
    background-color: #8186ae;
    color: #d9dbe7
}
h1 {
    background-color: #FFECF5
}